@import "../common.css";
@import "../header.css";
@import "../footer.css";
@import "../bgimg.css";
@import "../top.css";
@import "../main/news.css";

#contents {
	color: #444444;
	margin: 50px 50px;
}

#contents > .news_title {
	font-size: 24px;
	border-bottom: 1px dashed #444444;
	margin-bottom: 50px;
}

#date {
	color: #BBBBBB;
	font-size: 16px;
	position: relative;
	text-align: right;
	margin-top: 50px;
}
