#news {
  color: #ffffff;
  font-family:sans-serif;
  width: 1200px;
  border-bottom: 2px solid rgba(176, 196, 222, 0.8);
  padding: 50px 0 0 0;
}

#news > h1 {
  text-align: center;
  margin: 0px auto;
  font-size: 64px;
  color: navy;
  font-family:Impact,sans-serif;
  border-bottom: 5px solid rgba(176, 196, 222, 0.8);
  border-radius: 5px 5px 5px 5px/ 5px 5px 5px 5px;
}

.news_list {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  margin: 0 auto;
}

.news_item {
  width: 462px;
  height: 100px;
  position: relative;
  display: flex;
  background-color: #FAFAFA;
  border: 0.5px solid #aaa;
  border-radius: 5px 5px 5px 5px/ 5px 5px 5px 5px;
  -webkit-align-items: center;
  align-items: center;
  padding: 5px 5px 5px 10px;
  margin: 10px 10px;
}

.news_item:hover {
  background-color: #FFFFFF;
}

.news_item > .news_title {
  color : #AAAAAA;
  width: 285px;
  border-bottom: 0.5px dashed #ddd;
  display: flex;
  margin: auto 0;
  padding-left: 10px;
}

.news_item:hover > .news_title {
  color : #777777;
}

.thumb {
  width: 160px;
  height: 90px;
}

.news_img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-right: 10px;
  display: flex;
  border: 1px solid #DDDDDD;
  border-radius: 5px 5px 5px 5px/ 5px 5px 5px 5px;
}
